---
import {Icon} from 'astro-icon'
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';

const selectOptions = [
  "Google Search",
  "Social Media",
  "Email",
]

---
  <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {action: "https://formspree.io/YOUR_FORM_ID"})
  </script>

<!-- <form name="Contact Form" method="POST" action="/contact-thank-you" >
  <FormInput type="text" label="First Name" name="First Name" placeholder="John" />
  <FormInput type="text" label="Last Name" name="Last Name" placeholder="Doe" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <p>Choose an Amount!</p>
  <FormInput type="radio" label="$1" name="$1"/>
  <FormInput type="radio" label="$5" name="$5"/>
  <FormInput type="radio" label="$10" name="$10"/>
  <FormInput type="text" label="Credit/Debit Card" name="Credit Card" placeholder="XXXX-XXXX-XXXX" />
  <FormInput type="text" label="Exp" name="Exp" placeholder="MM/YY" />
  <FormInput type="text" label="CVV" name="CVV" placeholder="XXX" />
  <Button customIcon>Submit
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</form> -->

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
