---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Meet Emmanuel</h1>
			<p>
				Emmanuel is a groundbreaking tool created using artificial intelligence intended to elevate your spiritual
				experience. You can ask Emmanuel about anything related to religion and spirituality, and rest assured of an in-depth answer.
				Emmanuel can even provide advice for anyone in a dilemma!
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p><iframe
src="http://127.0.0.1:7860"
width="100%"
style="height: 100%; min-height: 700px"
frameborder="0"
></iframe></p>
      
  </TextSection>
</Layout>
