---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Meet Nirvana</h1>
			<p>
				Nirvana is a groundbreaking tool created using artificial intelligence intended to elevate your spiritual
				experience. You can ask Nirvana about anything related to religion and spirituality, and rest assured of an in-depth answer.
				Nirvana can even provide advice for anyone in a dilemma!
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>Nirvana is still under development. Contact us to be the first to try when it comes out!</p>
      
  </TextSection>
</Layout>
