---
---

<img class="odyssey-logo" src="spiritualu/theme/public/assets/images/home/Spiritualu.png">
<p class="odyssey-logo">SpiritualU</p>

<style>
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-optima);
    font-size: var(--font-size-md);
		color: darkblue;
	}
	.odyssey-logo:hover {
		text-decoration:strong;
		cursor: pointer;
	}
</style>
