---
---

<img class="odysseylogo" src="https://ci3.googleusercontent.com/mail-img-att/AIFldNpAyCD47Ku2x5jFyGlRmK-HYw890P2zc76POhedEBeo6JkVuS_AVuOmpw6PZb9vwInqPELTn-2TlFSMBHKPPoqvnCcU8OTpqFpXvL1iUEpJ9ihOezTDq1oU0FBOdH-y2zun1iCLm8JSnthnD6A1D3wosbLtoK5x-yrkNTk2cwliWE6ChpGcGv3aEdGn3uYALrC3a4ZC8Qav6MkW4lcgp9iSBbylnS8YX70wOoCQJNiofEfIGXfboj6ecDeWvrEBv0TqMuLCS_0x_eTBzHLLdAOfrJq3R5rh-p2wbX8kuqle1cvqArSYsPqZMn1bZfkQKzbF-IUaxSf8kZgmlFVJd_Zj3BzODWkczMwISrPQcyJGcrCCyU5kUrIKfqP3FIv0lctMvlRxmDn9t4Y93_bnM7-2HG7FeMfHaIOlRznLsPAJRSGJAjPVVOo7Prk7uSy8LjXXfE0DoakofJ9XCS7XxVkekERWue9OUKk2bJRVbbeFeklVafot-rZL4hMxa3B6bRORpdEiuqqTCEQzMQ2KGd4YI_5BGRZAnF00vo940Y4N1a3B-xOkc0sfHmyCkN0Zqy68yxyMA3tmbu_SJBusIp4SAOYI7xPRW3ijmsV68s6_xWR08PPrxRskFvlcA9YxwBgutKVXgQzDfwwO_mhc85KTwtjwrQnVV9Ia133fe2pXHmIFZhX2ZMOF2pplffOfhdAvZ3JEtMLrY3T_ukOBOJA4kYhiHI7J2Ny955VOpWIaGXVMpmaL2rEW56SfumUzfRNt9qSGbUR2J1LV5U93tGWKbTDBJGKFTzZR22PiWMvQsHJAM91H18fG9WMxq0UKj06EynVrwRNb8q82n_rsDS3bbeNwkjI-hLdva1HXOPYUAdmZsDc_jhLIfeZZ9WE2qoavKdCRjRoY8hSz7-EuhUAam5VR9W1C5ZhaZcEnzMkUV_MeWoeWS5xTvvA64hORsCPYwZf0QWR0qQxYUqjCXZfJVOVeO3vTCat58jHTNGYffcHD-pULhLke-jXBQhkM-Za2p8jNh7AhBuawZ-Ibt0XEaC-5V1VwI5YcxAdl5O8qufqkRTwprj8=s0-l75-ft">
<p class="odyssey-logo">SpiritualU</p>

<style>
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-optima);
    font-size: var(--font-size-md);
		color: darkblue; 
		
	} 
	.odyssey-logo:hover {
		text-decoration:strong;
		cursor: pointer;
	}
</style>
